:root {
  --font-family-title: "SAGRADA", sans-serif;
  --font-family-text: "Monomakh", sans-serif;
}

body {
  min-height: 100%;
  font-size: 2rem;
  font-family: var(--font-family-text);
  background-color: #f5f5dc;
  color: #333;
}

header {
  text-align: center;
}

h1 {
  font-family: var(--font-family-title);
  font-size: 6rem;
  margin: 0.5em;
  color: #8b0000; /* Цвет первой буквы */
}


#skills-list, #add-skill-form, #timer{
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  margin: auto;
}

.skill-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
}

.skill-name, .progress-bar-column, .delete-skill-column{
  border: 1px solid grey;
}

.progress-bar-column{
  height: 100%;
}
.progress-bar {
  display: flex;
  vertical-align: center;
  margin: auto;
  width: 35vw; /* Ширина шкалы */
  height: 1rem; /* Высота шкалы */
  background-color: #ddd; /* Фон шкалы */
  border-radius: 30px; /* Скругление углов */
  overflow: hidden; /* Скрываем лишнее */
}

.progress-fill {
  display: flex;
  height: 100%;
  background-color: red;
  transition: width 0.3s ease; 
}

.delete-skill-column{
  height: 100%;
  display: flex;
  text-align: center;
}

.delete-skill-button{
  border: none;
  background: none;
  max-width: 10vw;
  margin: auto;
}

.delete-skill-button:hover{
  color: #8b0000;
  cursor: pointer;
}

#add-skill-form, #timer{
  display: flex;
  margin-top: 2em;
  justify-content: center;
  gap: 2em;
}

#timer{
  gap: 1em;
}

